@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}


li, a{
   text-decoration: none;
   list-style: none;
}

body{
   background-color: black;
}

header{
   width: 100%;
   display: flex;
   align-items: center;
   padding: 40px 0 50px 100px;
   position: fixed;
   top: 0;
   z-index: 2;
}

.menu-btn, .menu{
   display: none;
}

nav{
   margin: 0 212px;
}

nav > ul{
   display: flex;
   justify-content: space-around;
}

li{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: white;
   margin: 0 30px;
   cursor: pointer;
}

nav > ul > li:hover{
   text-decoration: underline;
   text-underline-offset: 23px;
}


summary{
   cursor: pointer;
   list-style: none;
}

.submenu{
   position: absolute;
   margin-top: 50px;
  
}

.submenu > ul{
   display: block;
}

.submenu a{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: white;
}

.menu-list li > a:hover{
   text-decoration: underline;
   text-underline-offset: 5px;
}

.menu-list > li{
   position: relative;
}

.sabmrnu-menu-list{
   display: none;
   position: absolute;
   left: 100px;
   top: 0px;
}

.sabmrnu-menu-list li{
   width: 120px;
}

.sabmrnu-menu-list a{
   color: aqua;
}

.menu-list > li:hover .sabmrnu-menu-list{
display: block;
}

/* slider */

.image-slider_swiper {
   margin-top: 130px;
   overflow: hidden;
 }

 .image-slider_image{
   text-align: center;
   color: #FFFFFF;
 }

 .image-slider_image img{
   max-width: 100%;
 }

 .button-slider{
   display: flex;
   justify-content: center;
 }

 .s-button-prev, .s-button-next{
   margin: 50px;
   color: #FFFFFF;
   cursor: pointer;
 }

/* faq */

section{
   padding: 170px 100px 109px;
}

.faq {
   display: flex;
   /* justify-content: space-around; */
}

.faq h2{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 80px;
   line-height: 85px;
   letter-spacing: -0.03em;
   color: #FFFFFF;
   margin-right: 100px;
}

.faq-text{
   width: 100%;
}

.accordion{
   font-family: 'M PLUS 1';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 35px;
   color: #FFFFFF;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
   padding: 30px 0;
   cursor: pointer;
}


.content{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   margin-bottom: 30px;
   max-height: 0;
   overflow: hidden;
   transition: 0.3s ease-in-out;
   
}



/* news */

.news{
   overflow: hidden;
}

.news > h3{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 80px;
   line-height: 85px;
   letter-spacing: -0.03em;
   color: #FFFFFF;
   margin-bottom: 30px;

}

.cards > ul{
display:flex;
}

.cards-list > li{
   width: 400px;
   margin: 0;
}
.cards-list > li:nth-child(2){
margin: 0 30px;
}

.cards-list h4{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   margin: 30px 0 10px;
}

.cards-list p{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: #FFFFFF;
}

.cards-list:nth-child(2){
   margin-top: 50px;
}

/* form */

form{
   background-color: #FFFFFF;
   padding: 50px 100px;
}

form h3{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 80px;
   line-height: 85px;
   letter-spacing: -0.03em;
   color: #0B0A0D;
}

form p{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #0B0A0D;
   margin: 30px 0 15px;
}

input{
   width: 400px;
   height: 50px;
   border: 1px solid rgba(0, 0, 0, 0.4);
   border-radius: 10px;
   margin: 0 10px 15px 0;
   padding: 14px 15px 16px 20px;
}

form > button{
   width: 141px;
   height: 50px;
   border: 1px solid rgba(0, 0, 0, 0.4);
   border-radius: 10px;
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #0B0A0D;
   cursor: pointer;
}

form > button:hover{
   background-color: #75FF72;
}

/* footer */
footer{
   display: flex;
   /* justify-content: space-between; */
   padding: 50px 100px 80px;
}

footer h3{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
}

footer p{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: #FFFFFF;
   margin:10px 0 25px;
}

footer a{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   text-decoration-line: underline;
   color: #FFFFFF;
}

.icon{
   margin-left: 200px;
}


.icon a{
   margin-right: 30px;
}

/* adaptiv */
@media (max-width: 480px){

   header{
      justify-content: space-between;
      padding: 15px 35px;
   }

   nav{
      display: none;
   }

   .menu-btn {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      z-index:2;
      overflow: hidden;
   }
   .menu-btn span {
      width: 30px;
      height: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFFFFF;
      transition: all 0.5s;
   }
   .menu-btn span:nth-of-type(2) {
      top: calc(50% - 5px);
   }
   .menu-btn span:nth-of-type(3) {
      width: 30px;
      left: 100%;
      top: calc(50% + 5px);
   }

   .menu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px;
     background: black;
      transform: translateX(100%);
      transition: transform 0.5s; 
   }

   .menu > li {
      list-style: none;
   }


   .menu.active {
      transform: translateX(20%);
      /* padding: 50px; */
   }

   .menu.active > ul{
      margin-top: 100px;
   }

   .menu.active > ul > li{
      margin: 40px 0 0 50px;
   }

   .menu.active > ul > li > a{
      font-family: 'Mplus 1p';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
   }

   .submenu-adaptiv > ul > li{
      margin-top: 30px;
   }

   .submenu-adaptiv > ul > li > a{
      font-family: 'Mplus 1p';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
   }

   

   /* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
   display: none;
 }
 .menu-btn.active span:nth-of-type(2) {
   top: 50%;
   transform: translate(-50%, 0%) rotate(45deg);  
 }
 .menu-btn.active span:nth-of-type(3) {
   top: 50%;
   left: 50%;
   transform: translate(-50%, 0%) rotate(-45deg); 
 }

 /* faq */

 section{
   padding: 15px;
}

.faq {
   display: block;
   /* justify-content: space-around; */
}

.faq h2{
   font-size: 40px;
   margin-bottom: 20px;
}

.faq-text{
   width: 100%;
}

.accordion{
   font-family: 'M PLUS 1';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 35px;
   color: #FFFFFF;
   border-top: 1px solid rgba(255, 255, 255, 0.2);
   padding: 30px 0;
   cursor: pointer;
}


.content{
   font-family: 'Mplus 1p';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   margin-bottom: 30px;
   max-height: 0;
   overflow: hidden;
   transition: 0.3s ease-in-out;
   
}
}
